/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Headings */
h1, h2 {
    text-align: center;
   
}

/* Form container */
.Head {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    /* background-image: url("https://img.freepik.com/free-vector/clean-medical-background_53876-116875.jpg"); */
    background-size: cover;
    border: 2px solid black; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow with a light gray color */
}

/* Input fields */
.input-name, .input-name1 {
    margin-bottom: 10px;
}

/* Buttons */
input[type="reset"], button[type="button"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

input[type="reset"]:hover, button[type="button"]:hover {
    background-color: #45a049;
}

/* Note paragraph */
p {
    margin-left: 160px;
    color: red;
    font-size: 18px;
}
body{
    display: flex;
    flex-wrap: wrap;
}